<!DOCTYPE html>
<html>
<head>
  <title>movies!</title>
</head>
<body>
	<h1> <%= email %>: PROFILE </h1>

	<a href='/logout'>LOGOUT</a>
    <form action="/search"  method="GET">
		<input type="text" name="movieTitle">
		<button>search new</button>
	</form>
	
</body>
</html>