<!DOCTYPE html>
<html>
<head>
  <title>movies!</title>
  <h1> MY PROFILE </h1>
</head>
<body>

    <form action="/search"  method="GET">
		<input type="text" name="movieTitle">
		<button>search new</button>
	</form>
	
</body>
</html>